* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(223, 216, 216);
    height: 100vh;
    columns: #fff;
    font-family: Arial 10pt;
    text-align: center;
}

#result {
    background-color: #fff;
    width: 192px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}

.calc {
    position: absolute;
    background-color: rgb(148, 170, 148);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;
}

.btn {
    background-color: #fff;
    width: 50px;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
}

.btn--1 {
    background-color: #fff;
    width: 50px;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    height: 102px;
}

.btn--2 {
    background-color: #fff;
    width: 50px;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    width: 102px;
}

.btn:hover {
    background-color: rgb(223, 216, 216);;
}

.btn--1:hover {
    background-color: rgb(223, 216, 216);;
}

.btn--2:hover {
    background-color: rgb(223, 216, 216);;
}