* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px;
}

.container {
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-32%, 0%);
}

