*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

:root{
    --alternative-font: 'Rubik', sans-serif;
}

h1, h2, h3,
h4, h5, h6, p{
    font-size: inherit;
    font-weight: inherit;
}

body{
    background-color: rgb(233, 233, 233);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.body--header{
    background: #3414c4;
    background: -moz-linear-gradient(to right,  #3a14c4 0%,#fc5a44 100%);
    background: -webkit-linear-gradient(to right,  #2614c4 0%,#fc5a44 100%);
    background: linear-gradient(to right,  #3414c4 0%,#fc5a44 100%);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 20px 15px 40px 15px;
}

.header--h1{
    text-align: center;
    font-size: 2rem;
    padding: 24px 0;
    font-family: var(--alternative-font);
    font-weight: 600;
}

.header--textarea{
    max-width: 600px;
    width: 100%;
    height: 80px;
    border: none;
    resize: none;
    border-radius: 3px;
    padding: 10px;
    outline: none;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 0.80rem;
}

.header{
    width: 100%;
    text-align: center;
    padding: 30px 30px;
}

.header--textarea::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
}

.header--textarea::placeholder{
    opacity: 0.7;
}

.container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: rgb(102, 100, 100);
    font-family: 'Montserrat' ;
}

.suggestions-count{
    padding: 2.5% 0;
    font-family: var(--alternative-font);
    font-weight: 400;
}

.suggestions-count--strong{
    font-weight: inherit;
}

.suggestion-container{
    display: flex;
    flex-direction: column;
}

.suggestion-block{
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(160, 153, 153);
}

.vote-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    max-width: 50px;
}

.btn-count{
    padding: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: 1px solid rgb(102, 100, 100);
    background: transparent;
    cursor: pointer;
}

.btn-count:active{
    transform: scale(0.9);
}

.fa-chevron-up{
    color: rgb(102, 100, 100);
}

.count-votes{
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.count-numbers{
    align-self: center;
    padding-top: 10px;
    font-size: 1.5rem;
}

.suggestions{
    display: flex;
    flex-direction: row;
    flex: 2;
    max-width: 90%;
    width: 100%;
    margin: 0 0 0 30px;
}

.suggestions--strong{
    font-size: 1.2rem;
    font-weight: 400;
}