* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #000;
}

header {
    min-height: 100hv;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

header textarea {
    border: 1px solid #eee;
	border-radius: 3px;
	font-size: 14px;
	padding: 10px;
	min-height: 70px;
	max-width: 100%;
	width: 500px;
}

small {
    color: #fff;
    font-size: 30px;
    margin: 10px 20px;
    

}
.container {
    border: 3px solid #303030;
    width: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    position: relative;
    margin: 20px 20px ;
}

.header{
    text-align: center;
    color: #fff;
    padding: 20px 0;
    font-size: 30px;
}

.voting {
    position: relative;
    border: 3px solid #303030;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.suggestion {
    position: relative;
    color: #fff;
    border: 3px solid #303030;
    border-radius: 4px;
    padding: 5px;

    
}

input {
    width: 50px;
    border: none;
    background: none;
    color: #919191;
    font-size: 30px;
    margin: 0 10px;
    pointer-events: none;    
}

button {
    color: #fff;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 15px;
    margin: 10px 0;
    margin-left: 20px;
    cursor: pointer;
}

button:active {
    color: #004eff;
    transform: scale(1.2);

}
